@import url("reset.css");

:root {
  /* Color palette */
  --primary-color: #1e981e;
  --secondary-color: #ff6f61;
  --background-color: #ffffff;
  --primary-tints: #f0fcf0;
  --surface-background: #f5f5f5;
  --text-light: #ffffff;
  --text-dark: #212529;
  --text-gray: #495057;
  --light-gray: #868e96;
  /* Primary color hover state */
  --primary-color-hover: #197d19;
  /* Primary Color Lighter Version */
  --primary-color-lighter: #39a439;

  /* Spacing & Grid System */
  --spacing-1: 0.4rem;
  --spacing-2: 0.8rem;
  --spacing-3: 1.2rem;
  --spacing-4: 1.6rem;
  --spacing-5: 2rem;
  --spacing-6: 2.4rem;
  --spacing-7: 3rem;
  --spacing-8: 3.6rem;
  --spacing-9: 4.8rem;
  --spacing-10: 6rem;
  --spacing-11: 7.2rem;
  --spacing-12: 8.4rem;
  --spacing-13: 9.6rem;

  /* Font Weight */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-extra-bold: 800;
  --font-weight-black: 900;
}

/* ********************* */
/* REUSABLE COMPONENTS */
/* ********************* */
.margin-right-sm {
  margin-right: var(--spacing-5) !important;
}

.grid {
  display: grid;
  gap: var(--spacing-13);
}
.grid-2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid-3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid-4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.container {
  max-width: 150rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: var(--font-weight-semibold);
  text-transform: uppercase;
  padding: 1.6rem 3.2rem;
  border-radius: 1rem;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
}

.btn--full:link,
.btn--full:visited {
  background-color: var(--primary-color);
  color: var(--text-light);
}

.btn--full:hover,
.btn--full:active {
  background-color: var(--primary-color-hover);
}

.btn--outline:link,
.btn--outline:visited {
  background-color: var(--background-color);
  color: var(--text-gray);
  font-weight: var(--font-weight-regular);
}

.btn--outline:hover,
.btn--outline:active {
  background-color: transparent;
  box-shadow: inset 0 0 0 0.2rem var(--primary-color-hover);
  color: var(--text-dark);
}

/* ********************* */
/* HEADER SECTION */
/* ********************* */
.header {
  background-color: var(--primary-tints);
  height: 9.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--spacing-10);
}

.nav-logo__image {
  height: var(--spacing-8);
}
/* ********************* */
/* NAVIGATION */
/* ********************* */

.nav-list {
  display: flex;
  gap: var(--spacing-7);
}
.nav-item {
  list-style: none;
  color: var(--text-dark);
  font-weight: var(--font-weight-medium);
  font-size: 1.6rem;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.nav-item:hover,
.nav-item:active {
  color: var(--secondary-color);
  clear: both;
}

.nav-btn:link,
.nav-btn:visited {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: var(--font-weight-medium);
  text-transform: uppercase;
  padding: 1.2rem 2.4rem;
  border-radius: 1rem;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
  color: var(--text-light);
  background-color: var(--primary-color);
}

.nav-btn:hover,
.nav-btn:active {
  background-color: var(--primary-color-hover);
}
/* ********************* */
/* HERO SECTION */
/* ********************* */

.hero-image {
  width: 60%;
  border-radius: 2rem;
  transition: all 0.6s ease;
  box-shadow: 0px 5px 24px 2px #1e1e1edb;
}
.hero-image:hover {
  scale: 1.02;
  transition: all 0.6s ease;
  transform: skew(2deg, 0deg);
}

.hero-image-box {
  display: flex;
  justify-content: right;
}

.customers-rating {
  display: flex;
  align-items: center;
  margin-top: 8rem;
  gap: 2.4rem;
}

.stars {
  display: flex;
  gap: 0.4rem;
}

.stars img {
  height: 2rem;
  width: 2rem;
}

.success-info {
  font-size: 1.8rem;
  font-weight: var(--font-weight-regular);
  color: var(--text-dark);
}
.success-info span {
  color: #0d620d;
  font-weight: var(--font-weight-bold);
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-13);
}

.hero-section {
  background-color: var(--primary-tints);
  padding: var(--spacing-13) 0 var(--spacing-13) 0;
}
.primary-heading {
  font-size: 6.2rem;
  font-weight: var(--font-weight-bold);
  line-height: 1.05;
  color: var(--text-dark);
  letter-spacing: -0.5px;
  margin-bottom: var(--spacing-7);
}
.hero-desciption {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: var(--spacing-9);
  color: var(--text-dark);
  font-weight: var(--font-weight-medium);
}

/* ********************* */
/* HOW IT WORKS SECTION */
/* ********************* */

.how-it-works {
  padding: 9.6rem;
  background-color: var(--surface-background);
}

.how-it-works div {
  padding: 4.8rem;
}

.how-it-works div:nth-child(1) {
  background-color: var(--primary-color);
}
.how-it-works div:nth-child(2) {
  background-color: var(--secondary-color);
}
.how-it-works div:nth-child(3) {
  background-color: springgreen;
}
.how-it-works div:nth-child(4) {
  background-color: aqua;
}
