@import url("./general.css");
/* ********************* */
/* HEADER SECTION */
/* ********************* */
.header__content {
  background-color: var(--background-color);
  height: 9.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--spacing-10);
}
.nav-list {
  display: flex;
  align-items: center;
}
.sticky-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: none;
  transition: all 0.3s ease-in-out;
  z-index: 1000;
}
.main-nav {
  transition: all 0.3s ease-in-out;
}
.sticky {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.nav-logo__image {
  height: var(--spacing-8);
}

/* Hamburger menu */
.hamburger-menu {
  display: none;
  cursor: pointer;
  padding: 0.8rem;
}
.bar {
  width: 4rem;
  height: 0.4rem;
  background-color: var(--primary-color);
  margin: 0.8rem 0;
  transition: all 0.3s ease;
}
.nav--open {
  transform: translate(0) !important;
}
.hamburger-menu--open .bar:nth-child(1) {
  transform: translateY(1.4rem) rotate(45deg);
}
.hamburger-menu--open .bar:nth-child(2) {
  opacity: 0;
}
.hamburger-menu--open .bar:nth-child(3) {
  transform: translateY(-1rem) rotate(-45deg);
}

.main-nav {
  position: fixed;
  top: 8rem;
  left: 0;
  background-color: var(--background-color);
  width: 100%;
  height: calc(100vh - 8rem);
  padding: var(--spacing-10);
  transform: translateX(-100%);
}
.nav-list {
  flex-direction: column;
  align-items: center;
}
.nav-item a {
  font-size: 2.4rem;
}
.hamburger-menu {
  display: block;
}

/* ********************* */
/* NAVIGATION */
/* ********************* */

.nav-list {
  display: flex;
  gap: var(--spacing-7);
}
.nav-item {
  list-style: none;
  color: var(--text-dark);
  font-weight: var(--font-weight-medium);
  font-size: 1.6rem;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.nav-item:hover,
.nav-item:active {
  color: var(--secondary-color);
  clear: both;
}

.nav-btn:link,
.nav-btn:visited {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: var(--font-weight-medium);
  text-transform: uppercase;
  padding: 1.2rem 2.4rem;
  border-radius: 1rem;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
  color: var(--text-light);
  background-color: var(--primary-color);
}

.nav-btn:hover,
.nav-btn:active {
  background-color: var(--primary-color-hover);
}
/* ********************* */
/* HERO SECTION */
/* ********************* */

.hero-image {
  width: 60%;
  border-radius: 2rem;
  transition: all 0.6s ease;
  box-shadow: 0px 2px 10px 2px #1e1e1edb;
}
.hero-image:hover {
  scale: 1.02;
  transition: all 0.6s ease;
  box-shadow: 0px 5px 24px 2px #1e1e1edb;
}

.hero-image-box {
  width: fit-content;
  display: flex;
  justify-content: center;
}

.customers-rating {
  display: flex;
  align-items: center;
  margin-top: 8rem;
  gap: 2.4rem;
}

.stars {
  display: flex;
  gap: 0.4rem;
}

.stars img {
  height: 2rem;
  width: 2rem;
}

.success-info {
  font-size: 1.8rem;
  font-weight: var(--font-weight-regular);
  color: var(--text-dark);
}
.success-info span {
  color: #0d620d;
  font-weight: var(--font-weight-bold);
}

.hero {
  max-width: 150rem;
  margin: 0 auto;
  display: grid;
  padding: 9.6rem 0;
  grid-template-columns: repeat(2, 1fr);
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-10);
}

.hero-section {
  background-color: var(--background-color);
  padding: var(--spacing-13) 0 var(--spacing-13) 0;
}

.hero-desciption {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: var(--spacing-9);
  color: var(--text-gray);
  font-weight: var(--font-weight-medium);
}
hr {
  margin: 0;
  border: 0;
  border-bottom: 0.5px solid #d1d1d1;
}
/* ********************* */
/* HOW IT WORKS SECTION */
/* ********************* */

.how-it-works {
  padding: 9.6rem 0;
  background-color: var(--background-color);
}

.step-image {
  width: 50%;
  border-radius: var(--spacing-4);
  justify-self: center;
  transition: all 0.6s ease;
  box-shadow: 0px 2px 10px 2px #86868653;
}
.step-image:hover {
  scale: 1.02;
  transition: all 0.6s ease;
  box-shadow: 0px 5px 24px 2px #272727ac;
  transform: skew(1deg);
}

.step-number {
  font-size: 8rem;
  font-weight: var(--font-weight-semibold);
  color: var(--text-gray);
}

.step-text-box,
.step-image-box {
  margin-bottom: 8rem;
}
.step-text-box:last-child,
.step-image-box:last-child {
  margin-bottom: 0;
}

/* Why Us */
.why-us {
  padding: 9.6rem 0;
  background-color: var(--background-color);
  background-color: var(--primary-tints);
}
.why-us-header {
  margin-bottom: var(--spacing-9);
}
.why-us-icon {
  margin-bottom: var(--spacing-6);
  width: 5rem;
}
